<!DOCTYPE html>
<html>
<head>
<style>

h1{

}

h1 {
  padding: 15px;
  text-align: center;
  /* background-color: #d2a5b0; */
  color: #48494f;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 500%;
  -webkit-transition-duration: 1s; /* Safari */
 transition-duration: 0.5s;
}

h1:hover {
  color: #150B32;
}

a:link {
  text-decoration: none;
}

h2 {
  color:#48494f;
  font-family: 'Josefin Sans', sans-serif;
}

h3 {
  color:#48494f;
  font-family: 'Josefin Sans', sans-serif;
  font-size:250%;
  text-align: center;
}

h4 {
  color:#48494f;
  font-family: 'Josefin Sans', sans-serif;
}

 body {
   background-color: #fcfcfc;
   text-align: center;
 }

#yato,#mob,#kny,#emma,#bsd,#personal {
  border-radius: 50%;
  border: 50px;
}

#text{
  font-size:20px;
}

</style>
</head>
</html>
